[providers]
- "php"
- "node"

[variables]
NIXPACKS_PHP_EXTENSIONS = 'intl,zip,gd,pdo_mysql,bcmath,curl,mbstring,xml'
NIXPACKS_NODE_VERSION = '20'

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader --no-interaction",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache",
  "php artisan filament:optimize"
]